/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.result {
    margin-top: 20px;
}

.selected {
    /*background: radial-gradient(#7ceaa7, #b4cab1) !important;*/
    background: radial-gradient(#74ebd5, #acb6e5);
}


.option-button {
    width: 150px;
    display: inline-block;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    /*background: radial-gradient(#74ebd5, #acb6e5);*/
}

.quiz {
    font-family: sans-serif;
    text-align: center;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(255,255,255,1) 100%);
    padding: 10px, 20px, 30px, 20px;
}

