/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.result {
    margin-top: 20px;
}

.selected {
    background: rgba(85, 225, 114, 0.95) !important
}


.option-button {
    width: 150px;
    display: inline-block;
    border: 2px solid black;
    padding: 10px;
    margin: 13px 12px 12px 10px;
    background: rgba(120, 212, 221, 0.95);
}



.quiz {
    font-family: sans-serif;
    text-align: center;
 
    padding: 10px, 20px, 30px, 20px;
}

